.table-admin {
  width: 100%;

  td {
    vertical-align: middle;
  }


  .cell-image {
    padding: .5rem;

    img {
      width: 70px;
      height: 70px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .cell-name {
    font-weight: bold;
    span {
      transition: color .3s ease;
    }

    span:hover {
      cursor: pointer;
      color: dodgerblue;
    }
  }

  .cell-price {
    font-weight: 600;
  }

  .cell-actions {
    text-align: center;

    .btn {
      padding: .25rem .125rem;
    }

    button:not(:last-child) {
      margin-right: .25rem;
    }
  }


}
